body {
  margin: 0% !important;
  font: 14px "Playfair" !important;
  background-color: lightslategrey !important;
}

a {
  color: #00b7ff;
}

.navbar {
  background-color: lightgrey !important;
  padding: 20px;
}
.table thead {
  background-color: lightblue !important;
}
.table thead tr th {
  color: white !important;
}
h1 {
  padding-top: 100px;
  padding-left: 520px;
  padding-bottom: 70px;
}

.heading {
  padding-left: 430px;
}

.btn {
  background-color: white !important;
  color: black !important;
  border: 2px solid rgb(234, 133, 238) !important;
  margin-right: 30px;
}

.checked {
  color: red !important;
}
